@{
    ViewData["Title"] = "Home Page";
    var records = ViewBag.records as List<Models.ApiResponseModels.record>;
}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Complaint <b>List</b></h2></div>
                <div class="col-sm-4">
                <a href="@Url.Action("Create")"><button type="button"  class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button></a>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Email</th>
                    <th>Description</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in records)
                {
                <tr>
                    <td>@item.title</td>
                    <td>@item.email</td>
                    <td>@item.description</td>
                    <td>@item.email</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>

                }


            </tbody>
        </table>
    </div>
</div>
